
  @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


:root{
  --body_background: white;
  --body_color:black;
  --link_color:navy;
}

[data-theme="dark"]{
  --body_background: rgb(20, 20, 20);
  --body_color:white;
  --link_color:cyan;
}

*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
 background-color: var(--body_background);
 color: var(--body_color);
 font-family: Arial, Helvetica, sans-serif;
}


